
.navbar-brand{
    color: azure;
}
.nav-link{
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: azure;
}
body{
    font-family: 'Geologica';
}
h1{
    font-size: 6.25rem;
    line-height: 80%;
    font-weight: 800;
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
}
h3{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.93rem;
}
h5{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
p{
    font-size: 16px;
    font-weight: 400;
}

.banner-wrapper .banner-content {
vertical-align:middle;    
align-self: center;
}
.top-right-img{
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner-wrapper-2{
    background-color:#333 ;
    color: #EEFF41;
}
.pay-2{
    font-size: 18px;
}

.Principle_img{
    width: 400px;
    height: 300px;
}
.social_logo{
    width: 200px;
    height: 200px;
}
.banner-wrapper-3{
    background-color:#EEFF41;
    color: #333;
}

.box{
    background-color: #333;
}
.title_1{
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.display-1{
    font-weight: 700;
}
.banner-wrapper-4{
    background-color:#333;
    color:#EEFF41;
}
.carousel-item{
    height: 32rem;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.banner-wrapper-5{
    background-color:#EEFF41;
    color: #333;
}
.btn-black{
    background-color: #333;
    color: #ffffff;
}

.btn-green{
    background-color:#EEFF41;
    color: #333;
}
